<!DOCTYPE html>
<html lang="es">

<head th:replace= "administrador/template_admin :: cabecera">
</head>

<body>
	<div class="container">
		<div class="row">
			<nav class="fixed-top" th:replace= "administrador/template_admin :: navegador">				
			</nav>		
		</div>
		
		<div class="row">
			<div class="col-12 bg-info prueba">
			k
			</div>
		</div>
		
	</div>
	
	<footer class="sticky-footer " th:replace= "administrador/template_admin :: footer">
    </footer>

    <!-- Bootstrap core JavaScript -->
  	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>

</body>

</html>