<!DOCTYPE html>
<html lang="es">

<head th:replace="administrador/template_admin :: cabecera">
</head>

<body>
	<div class="container">
		<div class="row">
			<nav class="fixed-top"
				th:replace="administrador/template_admin :: navegador"></nav>

		</div>

		<div th:replace="administrador/template_admin :: mensajes"></div>

		<div class="card my-3">
			<div class="card-header  letraCabeceraCard">Editar Producto</div>

			<div class="card-body colorTabla">
				<form th:action="@{/producto/actualizar}" method="post"
					enctype="multipart/form-data">
					<input type="hidden" name="idProducto"
						th:value="${producto.idProducto}" />

					

					<div>
						<h3>Imágenes:</h3>
						<ul>
							<li th:each="imagen : ${imagenes}"><img
								th:src="@{'/imagenesProducto/' + ${imagen.archivoImagen}}"
								width="200" height="200" /></li>
						</ul>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="input-group my-2">
								<input type="file"  multiple name="nuevasImagenes" id="nuevasImagenes"/>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-lg-6 col-md-6 col-12">

							<div class="row">
								<div class="col-12">
									<div class="input-group my-2">
										<span
											class="input-group-text text-dark border border-secondary ">
											<i class="fas fa-file-signature"></i>
										</span> <input type="text"
											class="form-control border border-secondary"
											placeholder="Ingrese Nombre" name="nombreProducto"
											th:value="${producto.nombreProducto}" required />
										<div class="invalid-feedback">Campo obligatorio</div>
									</div>

								</div>

								<div class="col-12">
									<div class="input-group my-2">
										<span
											class="input-group-text text-dark border border-secondary ">
											<i class="fas fa-sitemap"></i>
										</span> <select class="form-select border border-secondary"
											name="categoria.idCategoria" required>
											<option value="">Seleccione Categoría</option>
											<option th:each="categoria:${categoria}"
												th:value="${categoria.idCategoria}"
												th:text="${categoria.nombreCategoria}"
												th:selected="${categoria.idCategoria == producto.categoria.idCategoria}"></option>
										</select>
										<div class="invalid-feedback">Campo obligatorio</div>
									</div>

								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="input-group my-2">
								<span
									class="input-group-text text-dark border border-secondary ">
									<i class="fas fa-list-alt mb-5"></i>
								</span>

								<textarea class="form-control border border-secondary" rows="3"
									placeholder="Ingrese Descripción" name="descripcionProducto"
									th:text="${producto.descripcionProducto}" required></textarea>
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="input-group my-2">
								<span
									class="input-group-text text-dark border border-secondary ">
									<i class="fas fa-tag"></i>
								</span> <select class="form-select border border-secondary"
									name="proveedor.idProveedor" required>
									<option value="">Seleccione Marca</option>
									<option th:each="proveedor:${proveedor}"
										th:value="${proveedor.idProveedor}"
										th:text="${proveedor.marcaProveedor}"
										th:selected="${proveedor.idProveedor == producto.proveedor.idProveedor}"></option>
								</select>
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>

						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="input-group my-2">
								<span
									class="input-group-text text-dark border border-secondary ">
									<i class="fas fa-cube"></i>
								</span> <input type="number"
									class="form-control border border-secondary"
									placeholder="Ingrese Stock" name="stockProducto" min="1"
									max="50" th:value="${producto.stockProducto}" required />
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="input-group my-2">
								<span
									class="input-group-text text-dark border border-secondary fw-bold">
									S/ </span> <input type="text"
									class="form-control border border-secondary"
									placeholder="Ingrese Precio Costo" pattern="[1-9][0-9.]{2,10}"
									name="precioCostoProducto" min="1" max="50"
									th:value="${producto.precioCostoProducto}" required />
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>

						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="input-group my-2">
								<span
									class="input-group-text text-dark border border-secondary fw-bold">
									S/ </span> <input type="text"
									class="form-control border border-secondary"
									placeholder="Ingrese Precio Venta" pattern="[1-9][0-9.]{2,10}"
									name="precioVentaProducto"
									th:value="${producto.precioVentaProducto}" min="1" max="50"
									required />
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>

						</div>
					</div>

					<div class="row letraBoton">
						<div
							class="d-grid gap-1 d-md-flex justify-content-md-center my-3 ">


							<a class="col-md-4 btn btn-danger mt-2" th:href="@{/producto}">
								<i class="fas fa-ban"></i> Cancelar
							</a>

							<button type="submit" class=" btn btn-warning col-md-4 mt-2">
								<i class="far fa-save"></i> Guardar Cambios
							</button>

						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<footer class="sticky-footer "
		th:replace="administrador/template_admin :: footer"> </footer>







	<!-- Bootstrap core JavaScript -->

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>


</body>

</html>