<!DOCTYPE html>
<html lang="es">

<head th:replace= "administrador/template_admin :: cabecera">
</head>

<body>
	<div class="container">
		<div class="row">
			<nav class="fixed-top" th:replace= "administrador/template_admin :: navegador">				
			</nav>
					
		</div>
		
		<div th:replace="administrador/template_admin :: mensajes"></div>	
		
		<div class="row">
			<div class="card w-100 mb-5" style="margin: auto auto;">
				<div class="card-header  letraCabeceraCard">
					Registrar Producto
				</div>
				
				<div class="card-body colorTabla">
				<form th:action="@{/producto/guardar}" method="post" enctype="multipart/form-data">
					<input type="hidden"/>
					
					<div class="row">
							<div class="input-group col-12  my-2">
								<div class="input-group-prepend">
									<span class="input-group-text text-dark border border-secondary ">
										<i class="fas fa-coins"></i></span>
								</div>
								<input type="file" class="form-control border border-secondary" multiple name="imagenes" />
							</div>											
						</div> 
						
						
						
						<div class="row">
						
							<div class="col-lg-6 col-md-6 col-sm-12">
							
								<div class="row">
									<div class="input-group col-12  my-2">
										<div class="input-group-prepend">
											<span class="input-group-text text-dark border border-secondary ">
												<i class="fas fa-file-signature"></i></span>
										</div>
										<input type="text" class="form-control border border-secondary" placeholder="Ingrese Nombre" name="nombreProducto" 
												               required />
										<div class="invalid-feedback">Campo obligatorio</div>
									</div>
									
									<div class="input-group col-12  my-2">
										<div class="input-group-prepend">
											<span class="input-group-text text-dark border border-secondary ">
												<i class="fas fa-sitemap"></i></span>
										</div>
										<select class="custom-select border border-secondary"  name="categoria.idCategoria" required>
											<option value="">Seleccione Categoría</option>
											<option th:each="categoria:${categoria}" th:value="${categoria.idCategoria}" th:text="${categoria.nombreCategoria}"></option>
										</select>
										<div class="invalid-feedback">Campo obligatorio</div>
									</div>											
								</div>								
							</div>
							<div class="input-group col-lg-6 col-md-6 col-sm-12 my-2">
								<div class="input-group-prepend">
											<span class="input-group-text text-dark border border-secondary ">
												<i class="fas fa-list-alt mb-5"></i></span>
								</div>
								<textarea class="form-control border border-secondary" rows="3" placeholder="Ingrese Descripción" name="descripcionProducto"  required></textarea>
								<div class="invalid-feedback">Campo obligatorio</div>								
							</div>															
						</div> 
										
						<div class="row">
							<div class="input-group col-lg-6 col-md-6 col-sm-12  my-2">
								<div class="input-group-prepend">
									<span class="input-group-text text-dark border border-secondary ">
										<i class="fas fa-tag"></i></span>
								</div>
								<select class="custom-select border border-secondary"  name="proveedor.idProveedor" required>
									<option value="">Seleccione Marca</option>
									<option th:each="proveedor:${proveedor}" th:value="${proveedor.idProveedor}" th:text="${proveedor.marcaProveedor}"></option>
								</select>
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>
							<div class="input-group col-lg-6 col-md-6 col-sm-12  my-2">
								<div class="input-group-prepend">
									<span class="input-group-text text-dark border border-secondary ">
										<i class="fas fa-cube"></i></span>
								</div>
								<input type="number" class="form-control border border-secondary" placeholder="Ingrese Stock" name="stockProducto" min="1" max="50" required />
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>												
						</div> 
						
						<div class="row">
							<div class="input-group col-lg-6 col-md-6 col-sm-12  my-2">
								<div class="input-group-prepend">
									<span class="input-group-text text-dark border border-secondary ">
										<i class="fas fa-coins"></i></span>
								</div>
								<input type="text" class="form-control border border-secondary" placeholder="Ingrese Precio Costo" 
									pattern="[1-9][0-9.]{2,10}" name="precioCostoProducto" min="1" max="50" required />
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>
							<div class="input-group col-lg-6 col-md-6 col-sm-12  my-2">
								<div class="input-group-prepend">
									<span class="input-group-text text-dark border border-secondary ">
										<i class="fas fa-coins"></i></span>
								</div>
								<input type="text" class="form-control border border-secondary" placeholder="Ingrese Precio Venta" 
									pattern="[1-9][0-9.]{2,10}" name="precioVentaProducto" min="1" max="50" required />
								<div class="invalid-feedback">Campo obligatorio</div>
							</div>												
						</div> 
							 
						<div class=" d-grid gap-2 text-center mt-4 letraBoton">
							<button type="reset" class="col-lg-3 col-md-4 col-sm-12 col-12 btn btn-secondary mb-3">
								<i class="fas fa-eraser"></i> Limpiar
							</button>						
							<a  class="col-lg-3 col-md-4 col-sm-12 col-12 btn btn-danger  mb-3 "  th:href="@{/producto}">
								<i class="fas fa-ban"></i> Cancelar
							</a>
							<button type="submit" class="col-lg-3 col-md-4 col-sm-12 col-12 btn btn-primary  mb-3">
								<i class="far fa-save"></i> Registrar Producto
							</button>			
						</div>
				</form>
				</div>
			</div>	 
		</div>
	</div>
	
	<footer class="sticky-footer " th:replace= "administrador/template_admin :: footer">
    </footer>
   






    <!-- Bootstrap core JavaScript -->
  	
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>

</body>

</html>