<!DOCTYPE html>
<html lang="es">

<head th:replace="administrador/template_admin :: cabecera">
</head>

<body>
	<div class="container">
		<div class="row">
			<nav class="fixed-top"
				th:replace="administrador/template_admin :: navegador"></nav>

		</div>

		<div th:replace="administrador/template_admin :: mensajes"></div>


		<div class="card my-3">
			<div class="card-header  letraCabeceraCard">Editar Categoria</div>

			<div class="card-body colorTabla">
				<form method="post" th:action="@{/categoria/actualizar}" enctype="multipart/form-data">
					<input type="hidden" name="idCategoria"
						th:value="${categoria.idCategoria}" />
						
					<div class="row">
						<div class="col12">
							<div class="input-group my-2">
								<span
									class="input-group-text text-dark border border-secondary ">
									<i class="far fa-images"></i>
								</span> <input type="file" class="form-control border border-secondary"
									 name="nuevasImagenes" />
							</div>

						</div>

					</div>

					<div class="div-img-container my-2">
						<p class="letraMenuSecundario">Imágenes Existentes:</p>
						
						<img
								th:src="@{'/imagenesCategoria/' + ${categoria.imagenCategoria.archivoImagen}}"
								class="img-thumbnail"
								/>
						
					</div>
					
					<div class="div-img-container mb-2 mt-3">
						<p class="letraMenuSecundario">Nuevas Imágenes:</p>
						<div id="image-preview-container"></div>
					</div>

					<div class="row">
						<div class="input-group col-12 my-3">

							<span class="input-group-text text-dark border border-secondary ">
								<i class="fas fa-edit mr-2"></i> NOMBRE
							</span> <input type="text" class="form-control border border-secondary "
								name="nombreCategoria" th:value="${categoria.nombreCategoria}"
								required />
							<div class="invalid-feedback">Campo obligatorio</div>
						</div>

					</div>

					<div class="row letraBoton">
						<div
							class="d-grid gap-2 d-md-flex justify-content-md-center my-3 ">

							<a class="col-md-4 btn btn-danger mt-2" th:href="@{/categoria}">
								<i class="fas fa-ban"></i> Cancelar
							</a>

							<button type="submit" class=" btn btn-warning  col-md-4 mt-2">
								<i class="far fa-save "></i> Guardar Cambios
							</button>

						</div>
					</div>


				</form>


			</div>
		</div>



	</div>

	<footer class="sticky-footer ">
		<div class="container">
			<p class="m-0 text-center">Copyright &copy; La Nono 2024</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>

</body>

</html>