body {
	padding-top: 170px;
}

.nav-menu-secundario {
	background-color: #DCE1F4;	
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;	
}
.nav-menu-principal {
	background-color: #F80044;
	padding-top:0.2%;
	padding-bottom: 0.2%;
	padding-left: 5%;
	padding-right:5%;
}

.a-menu-principal{
	font-size: 90%;
	color: white;		
}

.a-menu-principal:hover{
	text-decoration: underline;
	color: rgb(228, 224, 224);
}
.a-menu-secundario{
	color: black; 
}
.a-menu-secundario:hover{
	
	color: black;
	border: 1px solid #F80044;
	border-radius: 5px; 
	
}

.tamano-icono{
	font-size: 120%;
}

.img-logo{
	height:auto;
	max-width: 60%;	
}
.inp-buscar{
	width: 70%;
	display: inline;
	height: 35px;
	border-radius: 4px;
}

.inp-buscar:focus {
	border: 1px solid #F4EDFF;	
	box-shadow: 0 0 0 1.5px #F4EDFF;	
}

.btn-buscar{
	font-size: 108%;
	color: #ffffff;
	background-color:  #F80044;
	border: none;
	border-radius: 100%;
}

.btn-buscar:hover{
	color: rgb(228, 224, 224);
}

.btn-registrar{
	margin-left: 185px;
}

.cabeceraCard{
	background-color: #F5F3F3;
	color:  #000000;
}

@font-face{
	font-family: "fuente1";
	src: url("../fonts/Market_Deco.ttf");
}

.letraCabeceraCard{
	font-size: 120%;
	color: black;
	font-family: "fuente1";
}

@font-face{
	font-family: "fuente2";
	src: url("../fonts/CaviarDreams_Bold.ttf");
}

.letraMenuSecundario{
	font-size: 100%;
	color: black;
	font-family: "fuente2";
	
}

.trper{
	font-size: 110%;
}

footer{
	border-top: 1px solid #c5ceed;
	background-color: #DCE1F4;
	color: rgb(128,128,128);
}

.prueba{
	font-size: 500%;
	
}

.btn-menu{
	padding: 3px;
	padding-left:5px;
	padding-right:5px;
	color: #F80044;
	
}