body {
  padding-top: 80px;
  padding-bottom: 90px;
}

.nav-menu-secundario {
	background-color: #DCE1F4;
	padding-top:5px;
	padding-bottom: 5px;
}
.nav-menu-principal {
	background-color: #F80044;
	padding-top:20px;
	padding-bottom: 15px;
	height: 80px;
}

.a-menu-principal{
	font-size: 80%;
	color: white;
	border: 2.5px solid #F80044;
	margin: 5px;
	border-radius: 5px;
}
.a-menu-principal:hover{
	text-decoration: underline;
	color: rgb(228, 224, 224);
}
.a-menu-secundario{
	margin: 3px;
	border-radius: 5px;
}
.a-menu-secundario:hover{
	font-size: 112%;
}

.div-logo{
	margin-left:180px;
	height: 50px;
	width: 200px;
}

.img-logo{
	height:100%;
	width: 100%;
	object-fit: cotain;
}

.inp-buscar:focus {
	border: 1px solid #F4EDFF;	
	box-shadow: 0 0 0 1.5px #F4EDFF;	
}

.btn-buscar{
	color: #ffffff;
	background-color: #F80044;
	border-color: #F80044;
}

.btn-buscar:hover{
	color: #ffffff;
	background-color: #5C5863;
	border-color: #5C5863;
	box-shadow: 0 0 0 1.5px #5C5863;	
}

.btn-registrar{
	margin-left: 185px;
}

.cabeceraCard{
	background-color: #F5F3F3;
	color:  #000000;
}

@font-face{
	font-family: "fuente1";
	src: url("../fonts/Market_Deco.ttf");
}

.letraCabeceraCard{
	font-size: 120%;
	color: black;
	font-family: "fuente1";
}

@font-face{
	font-family: "fuente2";
	src: url("../fonts/NixieOne.ttf");
}

.letraMenuSecundario{
	font-size: 110%;
	color: black;
	font-family: "fuente2";
	
}

.trper{
	font-size: 110%;
}

footer{
	border-top: 1px solid #c5ceed;
	background-color: #DCE1F4;
	color: rgb(128,128,128);
}